<app-header></app-header>


<div class="container" style="margin-top: 10px;">

    <button type="button" class="btn btn-primary" style="float:initial; margin-bottom: 10px;" (click)="agregar()">agregar</button>

    <div class="card">
        <div class="class header">
            <h3>Datos del Usuario</h3>
        </div>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Primer Apellido</th>
                    <th>Primer Nombre</th>
                    <th>Otros Nombres</th>
                    <th>Pais de Empleo</th>
                    <th>Correo</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let employee of employees" class="text-center">
                    <td>{{employee.id}}</td>
                    <td>{{employee.papellido}}</td>
                    <td>{{employee.pnombre}}</td>
                    <td>{{employee.onombres}}</td>
                    <td>{{employee.nempleo}}</td>
                    <td>{{employee.correo}}</td>
                    <td><button type="button" class="btn btn-primary" style="float:left;" (click)="editar(employee.id)">editar</button>
                        <button type="button" class="btn btn-danger" style="float:right;" (click)="eliminar(employee.id)">eliminar</button></td>
                </tr>
            </tbody>
        </table>


    </div>



</div>

<app-footer></app-footer>