<app-header></app-header>

<div class="container">

    <form [formGroup]="newuserForm" (ngSubmit)="postForm(newuserForm.value)">

        <div class="form-group">
            <label for="FormControlInput1">Primer Apellido</label>
            <input type="text" class="form-control" placeholder="Primer Apellido" formControlName="papellido">

        </div>
        <div class="form-group">
            <label for="FormControlInput1">Primer Nombre</label>
            <input type="text" class="form-control" placeholder="Primer Nombre" formControlName="pnombre">

        </div>
        <div class="form-group">
            <label for="FormControlInput1">Otros Nombres</label>
            <input type="text" class="form-control" placeholder="Otros Nombres" formControlName="onombres">

        </div>
        <div class="form-group">
            <label for="FormControlInput1">Pais del empleo</label>
            <input type="text" class="form-control" placeholder="Pais del empleo" formControlName="nempleo">
        </div>
        
        <br>
        <button type="submit" class="btn btn-primary">Crear</button>
        <button type="button" class="btn btn-danger" style="margin-left: 5px;" (click)="regresar()">Regresar</button>

    </form>

</div>



<app-footer></app-footer>